@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comicy';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Comicy.otf') format('opentype');
}
